*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 1200px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.size{
    font-size: 42px;
    margin-left: 35px;
    margin-bottom: 30px;
}
